JWT_SECRET=supersecretkey
JWT_ALGORITHM=HS256

MAIN_DATABASE_URL=postgresql://app:app@db-main:5432/app_main
USERS_DATABASE_URL=postgresql://app:app@db-users:5432/app_users

REDIS_URL=redis://redis:6379/0
PUSH_URL=http://push-notificator:8000/api/v1/notify

POSTGRES_USER=app
POSTGRES_PASSWORD=app
POSTGRES_MAIN_DB=app_main
POSTGRES_USERS_DB=app_users
